:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/*HEADER*/

.header{
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: top right;
    padding: 5rem 0;
}

@media (min-width: 768px){
  .header{
    background-size: 45rem;
  }
}

@media (min-width: 768px){
  .header{
    background-size: 60rem;
  }
}

@media (min-width: 1280px){
  .header{
    background-size: 120rem;
  }
}

.header__contenedor{
    max-width: 110rem;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px){
  .header__barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}

@media (min-width: 768px){
  .header__logo{
    margin: 0;
  }
}

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
  .navegacion{
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5rem;
  }
}

.navegacion__link{
    color: var(--primario);
    font-weight: 500;
}

@media (min-width: 768px){
    .navegacion__link{
        color: var(--blanco);
    }
}

@media (min-width: 768px){
  .header__contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    margin-top: 5rem;
  }
}

.header__texto{
    margin: 5rem 0;
}

.header__heading{
    font-size: 3.2rem;
    text-align: center;
    line-height: 1.2;
}

@media (min-width: 768px){
  .header__heading{
    font-size: 5.2rem;
    text-align: left;
  }
}

@media (min-width: 768px){
  .header__imagen{
    max-width: 30rem;
    margin: 0 auto;
  }
}

.btn{
  background-color: var(--primario);
  color: var(--blanco);
  padding: 1rem 2rem;
  display: block;
  text-align: center;
}

@media (min-width: 768px){
  .btn{
    display: inline-block;
  }
}

/*Nucleus*/

.nucleus{
  margin-top: 5rem;
}

.nucleus h2{
  text-align: center;
  margin-bottom: 5rem;
  
}

.nucleus__contenido{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 5rem;
}

@media (min-width: 768px){
  .nucleus__contenido{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 5rem;
  }
}

.tarjetas{
  padding-bottom: 5rem;

}

@media (min-width: 768px){
  .tarjetas{
    padding-bottom: 0;
  }
}

.tarjeta{
  background-color: var(--blanco);
  box-shadow: 0px 0px 7px 1px rgba(168,168,168,1);
  padding: 1.5rem;
  margin-bottom: 3rem;
  transition: transform .3s;
}

.tarjeta:hover{
  transform: scale(1.1);
}

.tarjeta__titulo{
  color: var(--primario);
  margin: 0;
  font-size: 3rem;
}

.tarjeta__texto{
  margin: 0;
  font-size: 1.8rem;
}

/*Características*/

.caracteristicas{
  margin-top: 10rem;
  background-color: var(--primario);
  padding: 10rem 0;
  clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 88%);
}
.caracteristicas__heading{
  text-align: center;
  padding-bottom: 5rem;
  color: var(--blanco);
}

@media (min-width: 768px){
  .caracteristicas__contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
  }
}

.caracteristicas__contenido .tarjeta{
  box-shadow: none;
}

/*Comisiones*/

.comisiones h2{
  text-align: center;
  margin: 5rem 0;
}

.comisiones__heading{
  font-size: 2.3rem;
  text-align: center;
}

@media (min-width: 768px){
  .comisiones__heading{
    text-align: left;
  }
}

.comisiones__contenido p{
  font-weight: 500;
}

@media (min-width: 768px){
  .comisiones__contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: flex-end;
  }
}

@media (min-width: 998px){
  .comisiones__contenido{
    align-items: center;
  }
}

.tarjeta{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 3rem;
}

@media (min-width: 768px){
  .tarjeta{
    flex-direction: row;
  }
  
}

.tarjeta__porcentaje{
  font-weight: 900;
  color: var(--primario);
  font-size: 4rem;
}

/*Testimonios*/

.testimonios{
  background-color: var(--primario);
  padding: 5rem;
}

.testimonios__heading{
  color: var(--blanco);
  text-align: center;
}

.testimonio{
  background-color: var(--blanco);
  padding: 2rem ;
  position: relative;
  
}

.testimonio__texto{
  padding-left: 4rem;
}

.testimonio__texto::before{
  content: '';
  background-image: url(../img/comilla.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 27px;
  left: 15px;
}

.testimonios__grid{
  gap: 3rem;
  display: grid;
}

@media (min-width: 768px){
  .testimonios__grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

.testimonio__autor{
  text-align: right;
  font-weight: 900;
  color: var(--primario);
}

/*Footer*/

.footer{
  background-color: #5a30a0;
  padding: 3rem 0;
}

@media (min-width: 758px){
  .footer__grid{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

.footer__logo{
  width: 20rem;
  margin: 0 auto 4rem auto;
}

@media (min-width: 768px){
  .footer__logo{
    margin: 0;
  }
}

.navegacion__link--blanco{
  color: var(--blanco);
}
